body{
    background: linear-gradient(60deg,rgb(12, 26, 47),rgb(69, 14, 89));
    background-attachment: fixed; 
    position: relative;
}
#main_header{
    position: relative;
    left: 70px;
    transform: scaleY(1.25);
    width: 600px;
    height: 120px;
    color: rgb(170, 29, 0);
    font-size: 90px;
    font-family: "Permanent Marker";
}
#iconholder:hover{
    
    margin-left: -8px;
    margin-right: -8px;
    height: 100px;
    width: auto;
    background: linear-gradient(rgb(31, 4, 62),rgb(46, 36, 84));
    border-bottom: solid 10px rgb(51, 16, 84);
    box-shadow: 0px 0px 20px white;
}
#iconholder{
    position: relative;
    height: 100px;
    margin-top: -17px;
    margin-left: -8px;
    margin-right: -8px;
    background: linear-gradient(rgb(31, 4, 62), rgb(33, 24, 62));
    border-bottom: solid 10px rgb(40, 3, 44);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#appriciation{
    left: 100px;
    top: 100px;
    margin-left: 10px;
    margin-bottom: 35px;

    background-attachment: fixed;
    font-size: 45px;
    text-align: center;
    color: rgb(132, 188, 240);
    font-family: "Rubik Spray Paint";

}
#icon{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: linear-gradient(rgb(31, 4, 62), rgb(33, 24, 62));
    position: relative;
    width: 100px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right:0px ;
    height: 80px;
    border: solid 3px rgb(21, 4, 49);
    padding: 5px;
    
}
#icon:hover{
    background: linear-gradient(rgb(31, 4, 62), rgb(33, 24, 62));
    border: solid 2px black;
    width: 100px;
    margin-top: 10px;
    margin-left: 0px;
    margin-right:0px ;
    height: 80px;
    border: solid 3px rgb(35, 23, 55);
    padding: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 15px rgb(25, 62, 196);
}
#icons{
    position: absolute;
    right: 0;
}
#body2{
    top: 40px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    background-color: beige;
    background-image:repeating-linear-gradient(transparent 0px,transparent 44px,rgb(146, 28, 95) 45px),linear-gradient(to bottom,rgb(242, 153, 168) 0%,white 40%);
    background-blend-mode: multiply;
    background-size: 100% 45px, 100% 100%;
    padding: 20px;
    padding-right: 20px;
    height: 1000px;
    width: 1200px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}
#body2::before {
    content: "";
    background-color: beige;
    position: absolute;
    left: 80px;
    top: 0;
    bottom: 0;
    width: 3px;
    background: rgb(200, 50, 50);
}
#imagecontainer{
    
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 800px;
    justify-content: center;
    width: 500px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: double 8px rgb(84, 88, 210);
    border-top-left-radius: 120px;
    border-bottom-right-radius: 120px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: ;
    box-sizing: border-box;
}
#myimage{
    position: absolute;
    border-radius: 20px;
    border-top-left-radius: 120px;
    width: 400px;
    height: 600px;
}
#aboutme{
    position: relative;
    bottom: 30px;
    left: 70px;
    width: 600px;
    height: 900;
    font-size: 40px;
    font-family:"Bad Script";
    font-style:oblique;
    color: rgb(17, 2, 93);
    line-height: 45px;

}
#myname{
    position: absolute;
    bottom: 0px;
    border: solid,2px,blue;
    font-size: 80px;
    font-family:"Honk";
}